* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
	font-family: "Nunito", serif;
}
.v3_46 {
	width: 100vw;
	height: 100vh;
	background: url("images/v21_5.png") no-repeat center center;
	background-size: cover;
	opacity: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.v21_24 {
	color: rgba(255,255,255,1);
	margin: 4rem auto 0;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}
.v21_27 {
	width: 381px;
	height: 62px;
	background: rgba(237,243,252,1);
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
	border-radius: 10px;
	overflow: hidden;
}
.v21_28 {
	width: 146px;
	color: rgba(189,189,189,1);
	position: absolute;
	top: 19px;
	left: 35px;
	font-family: "Nunito", serif;
	font-weight: 200;
	font-size: 18px;
	opacity: 1;
	text-align: left;
}
.v21_29 {
	width: 62px;
	height: 62px;
	background: rgba(237,243,252,1);
	opacity: 1;
	margin: 0 1rem;
	border-radius: 10px;
}
.v21_30 {
	width: 24px;
	height: 24px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 21px;
	left: 412px;
	overflow: hidden;
}
.v21_31 {
	width: 21px;
	height: 18px;
	background: rgba(115,115,115,1);
	opacity: 1;
	position: absolute;
	top: 3px;
	left: 2px;
}
.v21_33 {
	width: 607px;
	color: rgba(255,255,255,1);
	position: absolute;
	top: 847px;
	left: 397px;
	font-family: "Nunito", serif;
	font-weight: normal;
	font-size: 18px;
	opacity: 1;
	text-align: center;
}
.v21_79 {
	width: 54px;
	height: 64px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 49px;
	left: 124px;
}
.v21_80 {
	width: 48px;
	height: 49px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 65px;
	left: 182px;
}
.v21_81 {
	width: 54px;
	height: 64px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 49px;
	left: 237px;
}
.v21_82 {
	width: 41px;
	height: 48px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 66px;
	left: 297px;
}
.v21_83 {
	width: 48px;
	height: 49px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 65px;
	left: 343px;
}
.v21_84 {
	width: 28px;
	height: 61px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 52px;
	left: 392px;
}
.v21_85 {
	width: 101px;
	height: 152px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
}
.v21_86 {
	width: 63px;
	height: 39px;
	background: linear-gradient(rgba(242,242,242,0), rgba(141,141,141,0.5299999713897705));
	opacity: 1;
	position: absolute;
	top: 51px;
	left: 2px;
}
.v21_87 {
	width: 15px;
	height: 16px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 52px;
	left: 426px;
}
.v21_25 {
	margin: 8rem auto 0;
	display: flex;
	flex-direction: row;
}
.v21_26 {
	width: 381px;
	height: 62px;
	background-size: cover;
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
.v21_32 {
	width: 24px;
	height: 24px;
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
}
.v21_77 {
	margin: 16rem auto 0;
}
.v21_78 {
	width: 440px;
	height: 152px;
	background-size: cover;
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}